form label
{
    font-weight: bold;
    color: black;
}
h5
{
    font-weight: bold;
    color: black;
}
i{
    padding: 5px;
    cursor: pointer;
}

.forgot{
    color: rgb(244, 67, 54);
    cursor: pointer;
}
