.center {
    position: absolute;
    left: 50%;
    margin-left: -25px !important;  /* 50% of your logo width */
    display: block;
    text-align: center
  }
  .appname
  {
    position: relative;
    /* left: 50%; */
    /* margin-left: -100px !important;  50% of your logo width */
    display: block;
    text-align: center
  }