<div class="main-content">
   
<div class="container-fluid" >
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">perm_identity</i>
                    </div>
                    <p class="card-category"><a routerLink="/jobseeker"><b>Total JobSeeker</b></a></p>
                    <h3 class="card-title"><b>{{jobSeekerDashboardData.totalRecord}}</b></h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">perm_identity</i>
                    </div>
                    <p class="card-category"><a routerLink="/recuriter"><b>Total Recruiter</b></a></p>
                    <h3 class="card-title"><b>{{recuriterDashboardData.totalRecord}}</b></h3>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">perm_identity</i>
                    </div>
                    <p class="card-category"><a routerLink="/jobseeker"><b>Total Approved JobSeeker</b></a></p>
                    <h3 class="card-title"><b>{{jobSeekerDashboardData.approvedRecord}}</b></h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">perm_identity</i>
                    </div>
                    <p class="card-category"><a routerLink="/recuriter"><b>Total Approved Recruiter</b></a></p>
                    <h3 class="card-title"><b>{{recuriterDashboardData.approvedRecord}}</b></h3>
                </div>
            </div>
        </div>
       
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">perm_identity</i>
                    </div>
                    <p class="card-category"><a routerLink="/jobseeker"><b>Total Rejected JobSeeker</b></a></p>
                    <h3 class="card-title"><b>{{jobSeekerDashboardData.rejectedRecord}}</b></h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">perm_identity</i>
                    </div>
                    <p class="card-category"><a routerLink="/recuriter"><b>Total Rejected Recruiter</b></a></p>
                    <h3 class="card-title"><b>{{recuriterDashboardData.rejectedRecord}}</b></h3>
                </div>
            </div>
        </div>
       
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">perm_identity</i>
                    </div>
                    <p class="card-category"><a routerLink="/jobseeker"><b>Total Pending JobSeeker</b></a></p>
                    <h3 class="card-title"><b>{{jobSeekerDashboardData.pendingRecord}}</b></h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">perm_identity</i>
                    </div>
                    <p class="card-category"><a routerLink="/recuriter"><b>Total Pending Recruiter </b></a></p>
                    <h3 class="card-title"><b>{{recuriterDashboardData.pendingRecord}}</b></h3>
                </div>
            </div>
        </div>
       
      </div>


</div>
</div>
